<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @job.name %>
</p>
<p>
  <strong>Location:</strong>
  <%= @job.location %>
</p>

<%if @job.status%>
    <p><strong>Job Complete:</strong>Yes</p>
<%else%>
    <p><strong>Job Complete:</strong>No</p>
<%end%>


<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
